
# Maven
target/


# Eclipse files
.classpath
.project
.settings
/workspace/

# IntelliJ Idea files
*.iml
*.ipr
*.iws
*.idea

# Mac
.DS_Store

# Test remnants

.mule
*.releaseBackup
.clover
testout.xml
logs/
servers/
